doctype html
html
  head
    link(rel='stylesheet' href='./css/style.css')
  body
    .player
      .controls
        .play_pause
          .play_pause_icon.play_pause-play
        .navigation
          .navigation_prev
            .navigation_prev_icon
          .navigation_next
            .navigation_next_icon
        .progress_bar
          .progress_bar_title.
            ---
          .progress_bar_stripe
            .progress_bar_container
              .progress_bar_container_percentage
      .playlist
    script(src='./js/script.js')